extends ../layout

block content
    div.d-flex.justify-content-between.align-items-center.mb-3
        h1.fs-4 Empleados
        a.btn.btn-primary(href="/empleados/nuevo") Añadir Empleado
    
    if empleados.length === 0
        div.alert.alert-info No hay empleados registrados.
    else
        table.table.table-striped.table-hover
            thead.table-dark
                tr
                    th ID
                    th Nombre
                    th DNI
                    th Email
                    th CBU
                    th Empresa ID
                    th Acciones
            tbody
                each empleado in empleados
                    tr
                        td= empleado.id
                        td= empleado.nombre
                        td= empleado.dni
                        td= empleado.email
                        td= empleado.cbu
                        td= empleado.empresaId
                        td
                            a.btn.btn-sm.btn-warning.me-1(href=`/empleados/${empleado.id}/editar`) Editar
                            form(action=`/empleados/${empleado.id}/eliminar` method="POST" class="d-inline")
                                button.btn.btn-sm.btn-danger(type="submit" onclick="return confirm('¿Seguro que desea eliminar este empleado?');") Eliminar
